[Unit]
Description=Message server
After=contacts-service.service

[Service]
User=system
Group=system
Type=simple
ExecStart=/usr/bin/msg-server
Restart=always
MemoryLimit=10M

[Install]
WantedBy=multi-user.target
