[Unit]
Description=Message server
After=contacts-service.service

[Service]
Type=simple
User=messaging
Group=messaging
SmackProcessLabel=System
ExecStart=/usr/bin/msg-server
Restart=always
MemoryLimit=10M

[Install]
WantedBy=multi-user.target
